<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head('Seznam článků')}"></head>
<body>
    <header th:replace="~{fragments/layout.html :: header}"></header>
    <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
    <div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>
    <article>
        <div class="centrovany">
            <header>
                <h1>Seznam článků</h1>
            </header>

            <section>
                <p sec:authorize="hasRole('ADMIN')">
                    <a class="clanky-tlacitko" th:href="@{/articles/create}">Vytvořit nový</a>
                </p>

                <ul class="list-group" id="clanky">
                    <!-- Vykreslý seznam článků -->
                    <li th:each="article: ${articles}" class="list-group-item d-flex shadow-sm">
                        <h4 class="col-sm-12 col-md-4"><a th:href="@{'/articles/' + ${article.articleId}}" th:text="${article.title}"></a></h4>
                        <div class="col-sm-12 col-md-8">
                            <p th:text="${article.description}"></p>
                            <p sec:authorize="hasRole('ADMIN')">
                                <a class="button-edit" th:href="@{'/articles/edit/' + ${article.articleId}}">Editovat</a>
                                <a class="button-delete" th:href="@{'/articles/delete/' + ${article.articleId}}">Smazat</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </article>

    <footer  th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>