<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
    <header th:replace="~{fragments/layout.html :: header}"></header>
    <article>
        <header>
            <h1>Blogovací aplikace</h1>
        </header>
        <section>
            <p>
                Na těchto stránkách najdete jednoduchou webovou aplikaci na zveřejňování myšlenek a názorů.
                Postupně ji mám v úmyslu rozšiřovat a vylepšovat.
            </p>
            <p>
                petr@fdweb.cz / 123456
            </p>
        </section>

    </article>


    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>