<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="description" content="Aplikace pro poznámky a nápady." />
    <meta name="keywords" content="web-aplikace, blog, FDWeb" />
    <meta name="author" content="FDWeb" />
    <title th:text="${title}">Defaultní titulek</title>

    <!-- Odkazy na potřebné styly -->
    <link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css" />
    <link rel="icon" type="image/png" th:href="@{/images/favicon_32.png}">
    <!-- Odkazy na editor a nastavení -->
    <script th:src="@{/scripts/lightbox-plus-jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea[id*=content]",
            entities: "160,nbsp",
        entity_encoding: "named",
        entity_encoding: "raw"
        });
    </script>
</head>
<body>
    <header th:fragment="header">
        <div id="logo">
            <h1>FD<span>Web</span></h1>
            <small>Java Web Developer</small>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Domů</a></li>
                <li><a th:href="@{/about}">O mně</a></li>
                <li><a th:href="@{/articles}">Články</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/account/login}">Přihlásit</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/account/register}">Registrovat</a></li>
                <li>
                    <form method="post" th:action="@{/account/logout}">
                        <button class="btn text-white" sec:authorize="isAuthenticated()">Odhlásit se</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="footer">
        <span class="foot-primary">FR</span>-<span class="foot-accent">D2</span>
            &copy;2026 pro
        <a href="https://fdtech.cz">FDTech.cz</a>
    </footer>
</body>
</html>